{%extends 'base.html'%}
{%block body%}

<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">total items</th>
        <th scope="col">Category</th>
        <th scope="col">Vendor</th>
        <th scope="col">totalprice:{{price}}</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        {% for related_item in item.items.all %}
          <tr>
            <td scope="row">{{ related_item.name }}</td>
            <td scope="row">{{ related_item.price }}</td>
            <td scope="row">{{ related_item.total_items }}</td>
            <td scope="row">{{ related_item.category }}</td>
            <td scope="row">{{ related_item.vendor }}</td>
            <td scope="row">{{ price }}</td>
            <td scope="row">
              <form action="{% url 'removefromcart' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="itemid" value="{{ related_item.id }}" >
                <input type="hidden" name="cartid" value="{{ item.id }}" >
                <button type="submit"><img src="" alt="">Remove</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
  
{%endblock%}
  