{%extends 'base.html'%}
{%block body%}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">vendor</th>
        
        
      </tr>
    </thead>
    <tbody>
{%for items in inventory %}
      <tr>
        <td>{{items.name}}</td>
        <td>{{items.category}}</td>
        <td>{{items.price}}</td>
        <td>{{items.vendor}}</td>
      </tr>
{%endfor%}
    </tbody>
  </table>
  {% endblock %}